/* Global */

body {
	background: #f0f0f0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

div.contentcontainer
{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

/* Header */ 

#ContentHeader
{
	text-align: center;
}

#Header{
	background-image:url('../images/header.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	max-height: 420px;
	background-size: 100%;
	overflow: hidden;
}
#Header h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4em;
	color:#0f0f0f;
	font-weight: 400;
	margin-top: -52px;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	position: relative;
	top: -60px;
}

#Header h1 span {
	padding: 2px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
	box-shadow: 10px 0 0 rgba(255, 255, 255, 0.35), -10px 0 0 rgba(255, 255, 255, 0.35);
	-webkit-box-shadow: 10px 0 0 rgba(255, 255, 255, 0.35), -10px 0 0 rgba(255, 255, 255, 0.35);
}

#Header h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	color: #0f0f0f;
	font-weight: 400;
	letter-spacing: 0.03em;
	position: relative;
	top: -65px;
}

#Header h2 span {
	padding: 1px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
	box-shadow: 10px 0 0 rgba(255, 255, 255, 0.35), -10px 0 0 rgba(255, 255, 255, 0.35);
	-webkit-box-shadow: 10px 0 0 rgba(255, 255, 255, 0.35), -10px 0 0 rgba(255, 255, 255, 0.35);
}

/* Lower Content */ 

.CardWrapper{
	display: block;
	float: none;
	width: 100%;
	margin-bottom: 25px;
	text-align: center;
}

.Card{
	background-color: #e3e1e1;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 14px;
}

#slide1{
	background: #f0f0f0;
}
#slide1 h1 {
	font-size: 3em;
	line-height: 1em;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 1em;
	padding-bottom:20px;
	font-weight: 400;
}


/* Tablet */
@media screen and (min-width: 1024px) {

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

}

/* Mobile */
@media screen and (min-width: 480px) {

}
