/* Global */

@font-face {
	font-family: Fairview;
	src: url('../fonts/Fairview_Regular.otf');
}

body {
	background-color: #f0f0f0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


/* Lower Content */ 

#slide1{
	background:#F0F0F0;
}
#slide1 h1 {
	font-size: 5em;
	line-height: 1em;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 1em;
	padding-bottom:20px;
	font-weight: 400;
}


/* Header */ 

#ContentHeader
{
	text-align: center;
}

#Header{
	background-image:url('../images/header.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	max-height: 420px;
	background-size: 100%;
	overflow: hidden;
}
#Header h1 {
	font-family: 'Open Sans', serif;
	font-size: 1.5em;
	color:#ffffff;
	font-weight: 400;
	margin-top: -130px;
	line-height: 1.2em;
	letter-spacing: 0.05em;
}

#Header h1 span {
	padding: 4px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
}

#Header h2 {
	font-family: 'Open Sans', serif;
	font-size: 1.3em;
	color: #ffffff;
	font-weight: 400;
	margin-top: -12px;
	letter-spacing: 0.03em;
}

#Header h2 span {
	padding: 4px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
}

/* Tablet */
@media screen and (min-width: 1024px) {

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

}

/* Mobile */
@media screen and (min-width: 480px) {

}
